<div class="plan" style="background: linear-gradient(107.13deg, #4ADEDE 13.24%, #2EBCE7 68.32%, #1CA7EC 90.44%);">
    <div class ="text-center"><%= image_tag "LogoComptoir.png", id:"logo-comptoir-lapin" %> </div>
  <div class= "lapin">
    <h1>Tu as posé un lapin</h1>
    <div class="relative_lapin"><%= image_tag "rabbitgrey.png" %></div>
    <%= link_to users_path do  %>
    <%end %>
  </div>
  <div class ="chrono">
    <h2> Comptoir réouvrira ses portes dans:</h2>
    <p id='countdown'><%= @countdown_in_seconds %></p>
  </div>
</div>
