<div class="plan">
  <div class= "lapin">
    <h1>Vous avez mis un lapin</h1>
    <img class="relative" src="http://recueil-de-png.r.e.pic.centerblog.net/51cf50a2.png" alt="">
    <img class="absolu"src="https://www.pinclipart.com/picdir/big/70-707378_coeur-bris-png-clipart.png" alt="">
  </div>
  <div class ="chrono">
    <h2> Rendez-vous dans:</h2>
    <p id='countdown'><%= @countdown_in_seconds %></p>
  </div>
</div>

