// Specific CSS for your home-page
.home-background {
  background: linear-gradient(145deg,#fff 20%, #4ADEDE 40%, #2EBCE7 60%, #1CA7EC 80%);
  font-family: 'Fredoka One';
  height: inherit;
  border-radius: 30px 30px 0px 0px;
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.home-container {
    padding-top: 15vh;
    // padding-bottom:50vh;
  }

#home-logo {
  height: 30vh;
}

// .home-background {
//     background: linear-gradient(155.21deg, #4ADEDE 0%, #2EBCE7 74.5%, #1CA7EC 100%);
//     background-size: 400% 400%;
//     font-family: 'Fredoka One';
//     height: inherit;
//     border-radius: 30px 30px 0px 0px;
//     animation: gradient 5s ease infinite;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-between;

//   @keyframes gradient {
//     0% {
//       background-position: 0% 50%;
//     }
//     50% {
//       background-position: 100% 50%;
//     }
//     100% {
//       background-position: 0% 50%;
//     }
//   }
// }



#home-logo-title {
  height: 10vh;
  margin-bottom:20px;
}

#goodbye-logo {
  height: 17vh;
}

#goodbye-logo-title {
  height: 7vh;
  margin-bottom:20px;
}
.goodbye-page-style {
  position: absolute;
  width: 321px;
  height: 474px;
  left: 27px;
  top: 346px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 37px;
  // display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}



#home-title {
  font-family: 'Fredoka One';
  color: white;
  font-size: 60px;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 4vh;
}

#home-btn-white {
  height: 8%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #1CA7EC;
  background-color: white;
  border: none;
  font-size: 25px;
  padding: 4px 20px;
  margin-top: 0px;
  border-radius: 10px;
}

#home-btn-white:hover {
  opacity: 0.8;
}

#home-link-connexion {
  font-size: 15px;
  color: white;
  margin-top: 20px;
}

.line-home {
  font-family: Quicksand;
  font-weight: bold;
  color: white;
  font-style: italic;
  padding-top: 55px;
  text-align: center;
  font-size: 35px;
  padding-bottom: 50vh;
  padding-left: 10%;
  padding-right: 10%;
}
