#countdown {
  display: inline-block;
  font-size: 65px;
  color: #1CA7EC;
  line-height: 1;
  font-family: 'Fredoka One'
}

#logo-comptoir-lapin {
  margin-top: 10vw;
  width: 30vw;
}



.lapin {
  text-align: center;
}
.lapin h1{
  width: 90%;
  font-family: Fredoka One;
  font-size: 50px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 30px;
  text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.chrono {
  text-align: center;
  background-color: white;
  width: 90%;
  color: #1CA7EC;
  border-radius: 30px;
  margin: 20px auto;

}

.chrono h2{
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: 'Quicksand';
  font-size: 32px;
  font-weight: bold;
  width: 90%;
  margin: 0 auto;
}

.plan {
  font-family: 'Quicksand';
  font-weight: bold;
  color: white;
  padding-bottom: 150px;
  border-radius: 30px 30px 0px 0px;
}

.relative {
  position: relative;
  width: 75%;
  margin: 30px auto;
}

.absolu {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 225px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.ecran {
  height: 100vh;
}
