<h1>Dashboard</h1>

<div class="dashboard">
  <h2> <%= current_user.name %> </h2>
  <%= image_tag "#{current_user.photo}", alt: "user_photo", :class => "avatar-dashboard" %>

  <p> <%= current_user.description %> </p>
</div>
