<div class="home-background">
  <div class=" home-container text-center align-items-center" >
    <%= image_tag "LogoComptoir.png" , id: "goodbye-logo"%>
    <%= image_tag "Comptoir.png" , id: "goodbye-logo-title"%>
  </div>

  <div class="goodbye-page-style">
  <p>Nous sommes ravis que tu aies trouvé ton bonheur au Comptoir ! </p>
  <br>
  <p> Nos portes te seront toujours ouvertes ! </p>

  </div>

</div>
