<div class="home-background">
  <div class=" home-container text-center align-items-center" >
    <%= image_tag "LogoComptoir.png" , id: "goodbye-logo"%>
    <%= image_tag "Comptoir.png" , id: "goodbye-logo-title"%>
  </div>

  <div class="goodbye-page-style">
  <p>Content que tu aies trouvé ton bonheur au comptoir ! </p>
  <br>
  <p> Ne gâche pas tout ! Mais si jamais ça se passe mal, on te garde une place au cas où tu reviendrais nous voir !</p>
  </div>

</div>
