<div style="height: 100vh; width: 100%; background-image: url('https://ik.imagekit.io/youshould/default_7_SkbNi54z4.jpg');padding-top:20vh; background-size: cover; ">
<div class="container d-flex flex-column justify-content-center" style="background-color: rgba(0,0,0,0.5);padding: 80px;border-radius: 35px;" >
<div class="container " id="feedback-form">
  <%= simple_form_for [@meeting, @feedback] do |f| %>
  <%= f.input :was_present, label: "Ton date était présent ?" %>
  <%= f.input :content, label: "Un commentaire ?" %>
</div>
<br>
 <button class="btn btn-primary"> <%= link_to users_path %> Voir les autres personnes au comptoir ? </button>
<% end %>

</div>
</div>

