.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 150px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 70px;
  font-weight: bold;
  color: white;
  border: 2px solid;
  justify-content: between;
}

.buttons {
  display: flex;
  justify-content: between;
  padding: 50px;
  height: 220px;
  width: 100%;
  margin: 50px 0px;

}

.btn-next {
  box-shadow:0 0 50px lightgrey;
  background-color:white;
  width: 100%;
  height:100%;
  border-radius: 30px;
}

.btn-next p {
  color:red;
  font-size: 80px;
  margin: 0;
}

.btn-like {
  box-shadow:0 0 50px lightgrey;
  background-color:white;
  width: 100%;
  height:100%;
  border-radius: 30px;
  text-align: center;
  padding-top: 12px;
}

.btn-like p {
  color:navy;
  font-size: 60px;
  margin: 0;
}

.btn-signal {
  color: white;
  font-weight: bold;
  font-size: 55px;
  justify-content: center;
  text-decoration: none;
}
