#countdown {
  display: inline-block;
  font-size: 150px;
  color: #1CA7EC;
  line-height: 1;
  font-family: Fredoka One;
}

.lapin {
  text-align: center;
}
.lapin h1{
  padding-bottom: 100px;
  padding-top: 200px;
  font-family: Fredoka One;
  font-size: 70px;
  font-weight: bold;
}

.chrono {
  text-align: center;
  background-color: white;
  width: 90%;
  color: #1CA7EC;
  border-radius: 50px;
  margin: 300px auto;

}

.chrono h2{
  padding-bottom: 100px;
  padding-top: 50px;
  font-family: Fredoka One;
  font-size: 70px;
  font-weight: bold;
}

.plan {
  background: #12c1bb;
  font-family: 'Quicksand';
  font-weight: bold;
  color: white;
  height: 100vh;
}

.relative {
  position: relative;
}

.absolu {
  position: absolute;
  width: 230px;
  height: 230px;
  left: 550px;
  transform: rotate(30deg);
}

.ecran {
  height: 100vh;
}
