#countdown {
  display: inline-block;
  font-size: 200px;
  color: white;
  line-height: 1;
  font-family: 'Digital-7';
}

.lapin {
  text-align: center;
}
.lapin h1{
  padding-bottom: 100px;
  padding-top: 200px;
  font-family: 'Quicksand';
  font-size: 70px;
  font-weight: bold;
}

.chrono {
  text-align: center;
}

.chrono h2{
  padding-bottom: 100px;
  padding-top: 50px;
  font-family: 'Quicksand';
  font-size: 70px;
  font-weight: bold;
}

.plan {
  background: #FAA916;
  font-family: 'Quicksand';
  font-weight: bold;
  color: white;
  height: 100vh;
}

.relative {
  position: relative;
}

.absolu {
  position: absolute;
  width: 230px;
  height: 230px;
  left: 550px;
  transform: rotate(30deg);
}

.ecran {
  height: 100vh;
}
