.dashboard {

}

#myDIV {
  display: none;
}

#user-settings {
 background-color: #e44144;
  font-weight:bold;
  color: beige;
  border-radius: 50px;
  width: 300px;
  height: 150px;
  font-size: 40px;
}

.dashboard-settings {
  height: 2000px;
  font-size: 23px;

}

#user_sex {
  font-size: 23px;
}
