#user_sex {
  font-size: 55px;
}

#user_sexual_orientation {
  font-size: 55px;
}

#user_name {
  font-size: 55px;
}

#user_age {
  font-size: 55px;
}

#user_smoker {
  font-size: 55px;
  width: 50px;
  height: 50px;
}

#user_drinker {
  font-size: 55px;
  width: 50px;
  height: 50px;
}

.form-check-label {
  font-size: 55px;
}

#user_description {
  font-size: 55px;
}

#user_intention {
  font-size: 55px;
}

#user_height {
  font-size: 55px;
}

#update-profile {
  font-size: 55px;
}
