.match-love {
  // width: 100%;
    height: 850px;

    // width: 300px;
    // padding-top: 15vh;
    // height: 100px;
    width: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    position: absolute;
    left: 50px;
    top: 270px;

    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    position: absolute;
    top: 270px;
    background-position: center;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;

    animation-delay: 0.4s;

    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: love;
}

.love-title {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: love-title;
}

@keyframes love {
  0% {transform: scale(10)}
  70% {transform: scale(1); opacity: 1}
  100% {transform: scale(1); opacity: 0}
}

@keyframes love-title {
  0% {transform: scale(2); opacity: 0}
  100% {transform: scale(1); opacity: 1}
}

.effet_3d {
text-shadow: 0 1px 0 #eee,
             0 2px 0 #e5e5e5,
             -1px 3px 0 #C8C8C8,
             -1px 4px 0 #C1C1C1,
             -2px 5px 0 #B9B9B9,
             -2px 6px 0 #B2B2B2,
             -2px 7px 2px rgba(0,0,0, 0.6),
             -2px 7px 8px rgba(0,0,0, 0.2),
             -2px 7px 45px rgba(0,0,0, 0.4);
}
