.avatar-date {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 300px;
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.card-category-meeting {
  background-position: center;
  height: 480px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position:relative;
  top:-150px;
}

.banner-meeting {
   height: 1099px;
   position:relative;
    overflow: hidden;
}

.center-text-meeting {
  color: white;
  font-size: 100px;
  font-family:'Fredoka One';
  padding-top: 165px;
}
.center-text-meeting h1{
    font-size: 60px;
    font-family: 'Fredoka One';
    text-align: center;
    font-weight: normal;
}

.bottom-ecran {
  background: #12c1bb;
  color: white;
  text-align: center;
}

.rdv h1{
  font-size: 120px;
  font-weight: bold;
  text-decoration: none;
  padding-right: 20px;
  padding-top: 50px;
}

.rdv h2{
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 150px;
  padding-right: 20px;
}

.bottom-left-meeting {
  position: absolute;
  color: white;
  bottom: 30px;
  left: 30px;
  font-family: 'Fredoka One';
}
.bottom-left-meeting h2{
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  color: white;
}

.bottom-left-meeting p {
  font-size: 20px;
  width:40%;
  text-align:center;
  font-weight: bold;
  background-color:rgba(0,0,0,0.5);
  border-radius:20px;
  padding: 10px 20px;
  color: white;
  position:relative;
  top:-210px;
  right:-460px;
}

.bottom-left-meeting h3{
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.annulation {
  padding-right: 70px;
}

.pic  {
  width: 100px;
  height: 100px;
}

.row-meeting {
  margin-top: 100px;
  padding: 0px 80px;
  font-family:'Fredoka One';
  color:white;
  width: 990px;
}
