.avatar-date {
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: 100px;
  height: 100px;
  background-position:bottom left;
  position:absolute;
  border-radius: 200px;
  width: 400px;
  height: 400px;
  background-position: bottom left;
  position: absolute;
  bottom: 50px;
  right: -50px;
}

.banner {
   height: 900px;
   position:relative;
}

.center-text {
  margin-left: auto;
  margin-right: auto;
  color: white;
  position:absolute;
  top: 300px;
  right: 350px;
  font-weight: bold;
  font-weight: bold;
  font-size: 500px;
}

.rdv {
  background: #FAA916;
  color: white;
  text-align: center;
  height:700px;
  padding-bottom: 150px;
}


.bottom-left {
  position: absolute;
  color: white;
  bottom: 100px;
  left: 30px;
}

.pic  {
  width: 100px;
  height: 100px;
}
