.navbar-lewagon {
  justify-content: center;
  background: white;
  width: 100%;
  margin-top: 100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
}

.navbar-name {
  font-size: 50px;
  font-weight: bold;
}
