.navbar-comptoir {
  justify-content: center;
  background: white;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 450px;
}

.navbar-comptoir .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand-comptoir {
  margin: none;
}

.navbar-name {
  font-size: 50px;
  font-weight: bold;
}
