.navbar-comptoir {
  justify-content: center;
  background: white;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 430px;
}

.navbar-comptoir .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand-comptoir {
  margin: none;
}

.navbar-name {
  font-size: 50px;
  font-weight: bold;
}

#logo-comptoir-lapin {
  height: 10vh;
  margin: 60px auto;

}

.logo-comptoir-lapin {
  text-align-last: center;
}
