.card-profile {
  padding-top: 40px;
  flex: 0 0 auto;
  width: 100%;
}

.card-presentation {
  background-size: cover;
  background-position: center;
  height: 1500px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
  position: relative;
}

.card-name {
  position: absolute;
  font-size: 120px;
  bottom: 180px;
  left: 70px;
  font-family: 'Quicksand';
  font-weight: bold;
}

.card-description {
  position: absolute;
  font-size: 40px;
  left: 75px;
  top: 1320px;
  max-width: 85%;
  font-family: 'Quicksand';
  font-weight: bold;
}

.card-nickname {
  font-size: 120px;
  bottom: 180px;
  left: 70px;
  color: white;
  margin-bottom: 0px;
  font-family: 'Quicksand';
  font-weight: bold;
}

.card-desc {
  font-size: 55px;
  bottom: 110px;
  left: 70px;
  font-weight: normal;
  color:white;
  margin-bottom: 0px;
  font-family: 'Quicksand';
  font-weight: bold;
}

.card-description p {
  font-weight: normal;
}

.cards {
  display: flex;
  flex-wrap: no-wrap;
  overflow-x: hidden;
  position:relative;
  top: -430px;
}

.card-infos {
  min-height: 60vh;
  background:linear-gradient(155.21deg, #4ADEDE 0%, #2EBCE7 74.5%, #1CA7EC 100%);
  color: white;
  padding: 50px 70px;
  position:relative;
  top: -50px;
  border-radius: 40px 40px 0px 0px;
  box-shadow: 0px -10px 20px rgba(0,0,0,0.25);
  font-family: 'Fredoka One';
}
