.card-presentation {
  background-size: cover;
  background-position: center;
  height: 1500px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 50px;
  box-shadow: 0 0 50px rgba(0,0,0,0.2);
  position: relative;
}

.card-name {
  position: absolute;
  font-size: 120px;
  bottom: 180px;
  left: 70px;
}

.card-description {
  position: absolute;
  font-size: 55px;
  bottom: 110px;
  left: 70px;
  font-weight: normal;
}

.card-nickname {
  font-size: 120px;
  bottom: 180px;
  left: 70px;
  color:white;
  margin-bottom: 40px;
}

.card-desc {
  font-size: 55px;
  bottom: 110px;
  left: 70px;
  font-weight: normal;
  color:white;
  margin-bottom: 40px;
}

.card-description p {
  font-weight: normal;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0px;
}

.card-infos {
  background-color: #FAA916;
  font-size: 50px;
  color:white;
  padding-left: 70px;
}
