.profile {
  width: 100%;
  height: 1500px;
  background-size: cover;
  background-position: center;

}

#myDIV {
  display: none;
}

#user-settings {
  background-color: #e44144;
  font-weight:bold;
  color: beige;
  border-radius: 50px;
  width: 300px;
  height: 150px;
  font-size: 40px;
}

.profile-settings {
  background: white;
  margin-top: 50px;
  padding: 20px;

  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

#profile-photo {
  height: 1500px;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(255,255,255,0) 40%);
}

#profile-description {
  position: absolute;
  font-size: 55px;
  bottom: 395px;
  left: 79px;
  font-weight: initial;
  color: white;
}

#profile-name {
  position: absolute;
  font-size: 120px;
  bottom: 473px;
  left: 58px;
  font-weight: 800;
  color: white;
}

h1 {
  font-weight: bold;
}


